<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button mode="ios" defaultHref="home" text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Listas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list *ngFor="let item of ['Wacoldo','Diogenes','Wenceslao','Ermeregildo','Prudencio','Floridoro','Ruperto','Rudecindo','Petronila','Margarito','Rogelio','Elvis']" >
  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/auto.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>{{item}}</h2>
      <p>Su transporte llego a la ubicacion</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
